*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
**/*.egg-info/
dist/
build/
pdm.lock
.python-version
sdo_el6224.txt
**/*.service*
src/banco_prova
src/beckhoff_devices
data
systemd 
pod
